.page-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
}

.page-number {
    font-family: 'SairaCondensedBold', sans-serif;
    font-size: 20px;
    margin: auto;
    color: #1B8188;
    cursor: pointer;
}

.page-number.active {
    color: #283D3B
}

.prev-button, .next_button {
    width: 20px;
    height: 20px;
    margin: auto;
    cursor: pointer;
}

.prev-button:hover, .next-button:hover, .page-number:hover {
    opacity: 0.8;
}