@media screen and (max-width: 1000px) {
    .task {
        height: 20px;
        font-size: 15px;
    }
    .checkbox, .delete_button {
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }
    .checked_icon, .delete_icon {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 1001px) {
    .task {
        height: 40px;
        font-size: 20px;
    }
    .checkbox, .delete_button {
        width: 30px;
        height: 30px;
    }
    .checked_icon, .delete_icon {
        width: 30px;
        height: 30px;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .task {
        font-size: 12px;
    }
    .checkbox, .delete_button {
        margin: 0 5px;
    }
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    border: 2px solid #115055;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.checkbox {
    border: 2px solid #D36A5F;
    border-radius: 5px;
}

.checkbox:hover, .checkbox.checked {
    background-color: #F3E8E2;
}

.task_data {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.title, .date {
    margin: auto 0;
}

.delete_button {
    border: 2px solid #115055;
    border-radius: 5px;
    padding: 0;
    background-color: #fff;
}

.delete_button:hover {
    background-color: #D36A5F;
}
