@media screen and (min-width: 1276px) {
    .task {
        font-size: 17px;
    }
}

@media screen and (min-width: 1001px) {

    .checkbox, .delete-button {
        width: 30px;
        height: 30px;
    }
    .checked_icon, .delete-icon {
        width: 30px;
        height: 30px;
        margin: 0;
    }
}

@media screen and (max-width: 1275px) {
    .date {
        font-size: 15px;
    }
    .title {
        font-size: 15px;
    }
} 

@media screen and (max-width: 1000px) {
    .task {
        min-height: 20px;
        font-size: 10px;
    }
    .checkbox, .delete-button {
        width: 15px;
        height: 15px;
        margin: 0 5px;
    }
    .checked_icon, .delete-icon {
        width: 15px;
        height: 15px;
    }
    .date {
        font-size: 10px;
    }
}


@media screen and (max-width: 700px) {
    .task {
        font-size: 10px;
    }
    .checkbox, .delete-button {
        margin: 0 5px;
    }
    .date {
        margin: auto 5px;
    }

}




.task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #115055;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.checkbox {
    border: 2px solid #D36A5F;
    border-radius: 5px;
}

.checkbox:hover, .checkbox.checked {
    background-color: #F3E8E2;
}

.task-data {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.title {
    margin: auto 0;
    word-break: break-all;
    max-width: 70%;
}

.title.full {
    font-size: 13px;
}

.date {
    margin: auto 5px;
    word-wrap: normal;
}

.delete-button {
    border: 2px solid #115055;
    border-radius: 5px;
    padding: 0;
    background-color: #fff;
}

.delete-button:hover {
    background-color: #D36A5F;
}

.checked-icon {
    width: 100%
}

.changing_input {
    border: 2px solid #115055;
    border-radius: 5px;
    outline-color: #115055;
}

.close_button {
    width: 30px;
}
