@media screen and (max-width: 1000px) {
    .search-input {
        height: 20px;
        font-size: 15px;
    }
}

@media screen and (min-width: 1001px) {
    .search-input {
        height: 40px;
        font-size: 20px;
    }
}

.search-input {
    width: 70%;
    border: 2px solid #197278;
    border-radius: 20px;
    padding: 10px;
}

.search-input:focus {
    outline-color: #283D3B;
}
input.search-input::placeholder {
    padding: 5px;
}