.input {
    width: 70%;
    height: 40px;
    border: 2px solid #197278;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}

input.input:focus {
    border: 2px solid #115055;
}

input.input::placeholder {
    padding: 5px;
}