.search_input {
    width: 70%;
    height: 40px;
    border: 2px solid #197278;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}

.search_input:focus {
    outline-color: #283D3B;
}
input.search_input::placeholder {
    padding: 5px;
}