@media screen and (max-width: 1100px) {
    .current_filter {
        font-size: 15px;
    }
}

@media screen and (max-width: 990px) {
    .current-filter {
        height: 28px;
        /* width: 30%; */
    }
}

@media screen and (min-width: 1101px) {
    .current-filter {
        font-size: 18px;
    }
}
@media screen and (max-width: 700px) {
    .filter-buttons  {
        width: 100%;
    }
}

@media screen and (min-width: 701px) {
    .filter-buttons  {
        width: 60%;
    }
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #283D3B;
    width: 30%;
    border: 2px solid #D36A5F;
    border-radius: 5px;
    cursor: pointer;
}

.current-filter:hover {
    opacity: 0.8;
}

.current-filter.active {
    background-color: #F3E8E2;
}