@media screen and (max-width: 1100px) {
    .current_filter {
        font-size: 15px;
    }
}

@media screen and (max-width: 990px) {
    .current_filter {
        height: 28px;
    }
}

@media screen and (max-width: 750px) {
    .current_filter {
        font-size: 12px;
    }
}

@media screen and (min-width: 1101px) {
    .current_filter {
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .filter_button  {
        width: 100%;
    }
}

@media screen and (min-width: 501px) {
    .filter_button  {
        width: 60%;
    }
}

.filter_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current_filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #283D3B;
    width: 30%;
    /* font-size: 18px; */
    border: 2px solid #D36A5F;
    border-radius: 5px;
    cursor: pointer;
}

.current_filter:hover {
    opacity: 0.8;
}

.current_filter.active {
    background-color: #F3E8E2;
}