@import './fonts/stylesheet.css';

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDDDD4;
    font-family: 'SairaCondensedRegular', sans-serif;
}

h1 {
    font-family: 'SairaCondensedBold', sans-serif;
    color: #283D3B;
}

button {
    background: none;
    border: none
}

.to-do-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 80vw;
    min-height: 75vh;
    margin: 5vh auto;
    padding: 5vh 0;
    box-shadow: 0px 1px 9px 0px rgba(34, 60, 80, 0.15);
}

@media screen and (max-width: 700px) {
    .buttons {
        flex-direction: column
    }
}

@media screen and (min-width: 701px) {
    .buttons {
        flex-direction: row
    }
}
.buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 10px;
}