@import './fonts/stylesheet.css';

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDDDD4;
    font-family: 'Regular', sans-serif;
}

h1 {
    font-family: 'SairaCondensedBold', sans-serif;
    color: #283D3B;
}

.to_do_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 60vw;
    height: 80vh;
    margin: 10vh 20vw;
    box-shadow: 0px 1px 9px 0px rgba(34, 60, 80, 0.15);
}