@media screen and (max-width: 1200px) {
    .date-button-title {
        font-size: 15px;
    }
    .up-icon, .down-icon {
        width: 30px;
        height: 30px;
    }
}
@media screen and (min-width: 1201px) {
    .date-button-title {
        font-size: 20px;
    }
    .up-icon, .down-icon {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 900px) {
    .date-button-title {
        font-size: 12px;
    }
    .up-icon, .down-icon {
        width: 20px;
        height: 20px;
        margin: auto 0;
    }
}

@media screen and (max-width: 500px) {
    .date-button {
        width: 100%;
    }
}

@media screen and (min-width: 501px) {
    .date-button {
        width: 35%;
    }
}
.date-buttons {
    display: flex;
    flex-direction: row;
    font-family: 'SairaCondensedBold', sans-serif;
}

.date-button-title {
    margin: auto 0;
    color: #283D3B;
}

.up-icon:hover, .down-icon:hover {
    opacity: 0.7;
}